<div class="signup-form-wrapper">

  <div class="transparent-box">
    <div class="signup-container">
      <h2 class="signup-header">Sign Up</h2>

      <form action="/signup" method="POST" class="form-container" >
        <div class="signup-wrapper">
          <input type="text" name="username" placeholder="Username">
    
          <input type="email" name="email" placeholder="Email">

          <input type="password" name="password" placeholder="Your password">
          <% if (typeof(message) != "undefined") { %>
            <div class="error-message"><%= message %></div>
          <% } %>


          <button class="custom-file-upload">Create account</button>

          <p class="account-message-signup">
            Do you already have an account? <a href="/login">Log In</a>
          </p>
        </div>
      </form>
    </div>
</div>


</div>
