<div class="header">
    <nav>
      <a href="/">My Events</a>
      <% if( isUserLoggedIn ) { %>
        <a href="/logout">Logout</a>
      <% } else {%>
        <a href="/login">Login</a>
      <% } %>
    </nav>
</div>
