<nav class="header">
  <% if( isUserLoggedIn ) { %>
    <p><%= userLink %></p>
    <a href="/<%= userLink %>">My Events</a>
    <a href="/logout">Logout</a>
  <% } else {%>
    <p class="mobile-share-text">Copy Link To Share This Album!</p>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  <% } %>
</nav>
