<div class="homepage-wrapper">
  <div class="text-center home-screen">
    <h1>Nutshell Moments</h1>
    <h3>Sharing just enough of life's events</h3>
    <div class="flex">
      <a href="/login"> <div class="btn-auth">Log In</div></a>
      <a href="/signup"> <div class="btn-auth">Sign UP</div></a>
    </div>
  </div>
</div>
