<div class="homepage-wrapper">
  <div class="homepage-left">
    <div class="">
      <a class="auth-link" href="/login"> <div>Log In</div></a>
      <a href="/signup"> <div class="auth-link">Sign UP</div></a>
    </div>
  </div>
  <div class="homepage-right">
    <div class="">
      <img class="homepage-logo" src="images/camera.svg" alt="">
      <div class="text-center">
        <h1>Nutshell Moments</h1>
        <h3>Sharing just enough of life's events</h3>
      </div>
    </div>
  </div>
</div>
