<%- include('partials/header') %>

<div class="page-margin--top">

  <h2>New Event</h2>

  <form action="/<%=userParam%>/events/new-event" method="POST" id="form-container">
    <input type="text" name="name" placeholder="Event Name">
    <input type="text" name="description" placeholder="Event Description">
    <input type="date" name="date" placeholder="Event Date">
    <% if (typeof(message) != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>
    <button>Create Event</button>

  </form>

</div>
