<%- include('partials/header') %>

<div class="page-margin--top">

<div class="center-new-event">

<div class="new-event-form">
<h2 class="new-event-header">New Event</h2>

  <form action="/<%=userParam%>/events/new-event" method="POST" id="form-container">
    <div class="new-event-wrapper">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="description">
    <input type="date" name="date" placeholder="Date">

    <% if (typeof(message) != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>
    <button class="create-event">Create Event</button>
  </div>
  </form>
</div>

</div>

</div>
