<%- include('partials/header') %>

<h2>New event</h2>


<form action="/events/new-event" method="POST" id="form-container">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Name">
  <br><br>
  <label for="Description">Description</label>
  <input type="text" name="description" placeholder="description">
  <br><br>
  <label for="date">Date</label>
  <input type="date" name="date" placeholder="Date">
  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>
  <button>Create Event</button>

</form>
