* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 16px 'Abel', sans-serif;
  background: WhiteSmoke;
  color: #2F4B26;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
}


a {
  color: #00B7FF;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Acme';
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 10px 0;
  line-height 1;
}

h3 {
  letter-spacing: 3px;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

h5 {
  margin: 0;
}
/*font-family: 'NTR', sans-serif;
font-family: 'Anton', sans-serif;*/

img {
  max-width: 100%;
}

form {
  position: relative;
  box-sizing: border-box;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.homepage-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/cover-photo-2.jpg');
  background-size: cover;
  background-position: center;
}


@media screen and (max-width: 768px) {
  .homepage-right {
    width: 100%;
  }
  .homepage-left {
    width: 100%;
  }
}

.home-screen {
  position: absolute;
  top: 100px;
  background: rgba(255,255,255,0.5);
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .home-screen {
    width: 90%;
    top: 30px;
  }
}

.home-screen img {
  width: 25%;
}

.flex {
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
  justify-content: center;
}

.btn-auth {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Acme';
  background: #3E885B;
  color: WhiteSmoke;
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  margin: 30px;
  border-radius: 50%;
  transition: 300ms;
}

.btn-auth:hover {
  background: #2F4B26;
}

.page-margin--top {
  margin-top: 60px;
}

.page-margin--top-large {
  margin-top: 120px;
}

.upload-section {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}

.upload-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #2F4B26;
  color: white;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.upload-header p {
  margin: 0 0 0 20px;
}

.upload-section form {
  margin-top: 60px;
  margin-bottom: 0;
}

.upload-wrapper {
  width: 63%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .upload-wrapper {
    width: 100%;
    margin-right: 0;
  }
}

.upload-wrapper > input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: WhiteSmoke;
  color: #512500;
  margin-bottom: 10px;
  font-family: 'Abel';
}

.homepage-logo {
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  color: #D7FCD4;
  background: #2F4B26;
  font-family: 'Acme';
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-end;
}


.header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

.header p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  margin-right: auto;
  margin-left: 15px;
}

.profile-header {
  margin-bottom: 30px;
  display: flex;
}

.event-box {
  width: 100%;
  min-height: 150px;
  background: #3E885B;
  display: block;
  margin-bottom: 30px;
  padding: 30px;
  cursor: pointer;
}

a.event-box {
  color: WhiteSmoke;
}

.event-header {
  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.event-header .btn-edit {
  margin-left: 0;
}

.event-details {
  width: 67%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.event-details p {
  margin: 0 0 20px 0;
  opacity: .5;
}

@media screen and (max-width: 786px) {
  .event-details {
    width: 100%;
  }
}


.btn-edit {
  height: 40px;
  padding: 10px;
  background: #3E885B;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  margin-left: 20px;
  transition: 300ms;
}

.btn-edit a {
  color: white;
}

.btn-edit.photo-edit {
  position: absolute;
  margin: 0;
  top: 20px;
  right: 20px
}

.btn-edit:hover {
  background: #2F4B26;
}

.width-100 {
  width: 100%;
}

.copy-wrapper {
  width: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background: #3E885B;
  position: absolute;
  top: 60px;
  left: 0;
  height: 60px;
}

@media screen and (max-width: 786px) {
  .copy-wrapper {
    width: 100%;
  }
}

input.copy-link {
  border: 2px solid #3E885B;
  background: #3E885B;
  color: #3E885B;
  font-family: 'Abel';
  height: 30px;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: -200px;
}

.copy-button {
  background: #3E885B;
  font-family: 'Abel';
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  transition: 300ms
}

.copy-button:hober {
  background
}

.image-preview-wrapper {
  width: 34%;
}

@media screen and (max-width: 786px) {
  .image-preview-wrapper {
    width: 100%;
  }
}

#image-preview {
  clip-path: url(#svgPath);
}

/*INPUT HIDING*/
input[type="file"] {
    display: none;
}

.custom-file-upload {
  width: 100%;
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: #3E885B;
  color: WhiteSmoke;
  margin-bottom: 10px;
  text-align: center;
  transition: 300ms;
  text-transform: uppercase;

}

input.save-new-photo {
  background: #3E885B;
  transition: 300ms;
  color: WhiteSmoke;
  text-transform: uppercase;
}

.custom-file-upload:hover,
input.save-new-photo:hover {
  background: #2F4B26;
  cursor: pointer;
}

.photo-wrapper {
  padding: 10px;
  background: white;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.photo-wrapper img {
  margin: 0 auto;
}

.login-page-wrapper {
  background-image:url('../images/party1.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*SIGNUP PAGE*/

.signup-container {
  width: 80%;
  text-align: center;
}

.signup-wrapper{
  width: 100%;
  z-index: 1;
  text-align: center;
}

.signup-wrapper input{
  width: 100%;
  z-index: 1;
  opacity: 1;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: white;
  color: #512500;
  /*margin-bottom: 10px;*/
  font-family: 'Abel';
  margin-bottom: 10px;

}

.transparent-box {
    width: 50%;
    background-color: hsla(130, 0%, 100%, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}

@media screen and (max-width: 768px) {
  .transparent-box {
    width: 90%;
  }
}

form.form-container {
  width: 100%;
}

.signup-header {
  color: grey;
}

.login-header {
  color: grey;
  margin-top: 10%;
}

.account-message {
  color: #512500;
}

.account-message-signup {
  color: #512500;
}

.signup-form-wrapper {
  background-image:url('../images/wedding1.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.login-container {
  width: 80%;
  text-align: center;
}
