* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 16px 'Abel', sans-serif;
  background: #EBEDEF;
  color: #514b3a;
  padding: 30px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-family: 'Acme';
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

h3 {
  letter-spacing: 3px;
  margin: 0;
}

/*font-family: 'NTR', sans-serif;
font-family: 'Anton', sans-serif;*/

img {
  max-width: 100%;
}

form {
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 50px;
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.homepage-wrapper {
  height: 100vh;
  width: 100vw;
  background: #dde491;
  display: flex;
}

.homepage-left {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.homepage-right {
  display: flex;
  width: 67%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text=align: center;
}

.auth-link {
  height: 150px;
  width: 150px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Acme';
  background: #afbe8f;
  color: #657059;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  margin: 80px;
}

a.auth-link {
  color: #657059;
}

.auth-link:before, .auth-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background: #afbe8f;
    z-index: -1;
}
.auth-link:before {
  transform: rotate(30deg);
}
.auth-link:after {
  transform: rotate(60deg);
}

.page-margin--top {
  margin-top: 50px;
}

.upload-wrapper {
  width: 66%;
  margin-right: 20px;
}

.upload-wrapper > input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: white;
  color: #512500;
  margin-bottom: 10px;
  font-family: 'Abel';
}

.homepage-logo {
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  color: #D7FCD4;
  background: #514b3a;
  font-family: 'Acme';
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-end;
}


.header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

.header p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  margin-right: auto;
  margin-left: 15px;
}

.event-box {
  width: 100%;
  height: 150px;
  background: WhiteSmoke;
  display: block;
  margin-bottom: 30px;
}

.event-header {
  display: flex;
  margin-bottom: 50px;
}

.event-details {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
}

.btn-edit {
  width: 60px;
  height: 40px;
  padding: 10px;
  background: #647058;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  margin-left: 20px;
}

.btn-edit.photo-edit {
  position: absolute;
  margin: 0;
  top: 20px;
  right: 20px
}

.width-100 {
  width: 100%;
}

.copy-wrapper {
  flex-wrap: wrap;
  width: 33%;
  margin-left: auto;
}

.clipboard-wrapper {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

input.copy-link {
  width: 80%;
  padding: 20px;
  font-size: 18px;
  border: 2px solid #647058;
  background: white;
  color: #647058;
  font-family: 'Abel';
}

.copy-button {
  background: #647058;
  font-family: 'Abel';
  border: none;
  height: 67px;
  width: 20%;
  color: white;
  text-transform: uppercase;
}

.image-preview-wrapper {
  width: 34%;
}

#image-preview {
  clip-path: url(#svgPath);
}

/*INPUT HIDING*/
input[type="file"] {
    display: none;
}

.custom-file-upload {
  width: 100%;
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: #afbe8f;
  color: #512500;
  margin-bottom: 10px;
  text-align: center;
  transition: 300ms;
}

input.save-new-photo {
  background: #afbe8f;
  transition: 300ms;
}

.custom-file-upload:hover,
input.save-new-photo:hover {
  background: #7c8570
}

.photo-wrapper {
  padding: 10px;
  background: white;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.photo-wrapper img {
  margin: 0 auto;
}

.login-page-wrapper {
  background-image:url('../images/jens-johnsson-121803.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*SIGNUP PAGE*/

.signup-container {
  width: 80%;
  text-align: center;
}

.signup-wrapper{
  width: 100%;
  z-index: 1;
  text-align: center;
}

.signup-wrapper input{
  width: 100%;
  z-index: 1;
  opacity: 1;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: white;
  color: #512500;
  /*margin-bottom: 10px;*/
  font-family: 'Abel';
  margin-bottom: 10px;

}

.transparent-box {
    width: 50%;
    background-color: hsla(130, 0%, 100%, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

@media screen and (max-width: 768px) {
  .transparent-box {
    width: 90%;
  }
}

form.form-container {
  width: 100%;
}

.signup-header {
  color: grey;
}

.login-header {
  color: grey;
  margin-top: 10%;
}

.account-message {
  color: #512500;
}

.account-message-signup {
  color: #512500;
}

.signup-form-wrapper {
  background-image:url('../images/sweet-ice-cream-photography-79569.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.login-container {
  width: 80%;
  text-align: center;
}

/*LOGIN PAGE*/
